<div style="border: 1px solid dark-grey;">
  <a id="ad-link" target="_blank" href="https://bakerseo.com/?source=mikedane.com&ad=1">
  <img id="ad-image" width="160px" height="600px" src="{{.Site.BaseURL}}assets/bakerseo1.jpeg"/>
</a>
</div>

<script>
  
  if(Math.trunc(Math.random() * 10) % 2) {
    const img = document.getElementById('ad-image');
    const link = document.getElementById('ad-link')
    img.src = img.src.replace('bakerseo1', 'bakerseo2');
    link.href = link.href.replace('ad=1', 'ad=2')
  }
</script>