<!-- <style>
  #promo-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  #promo-cta {
    font-size: 1.25rem;
  }
  #promo-content {
    display: flex;
    flex-wrap: wrap;
  }
  #promo-video {
    margin-right: 15px;
  }
  #promo-title {
    font-size: 1.5rem;

    /* font-weight: bold; */
  }
</style>

<div id="promo-wrapper">
  <div id="promo-content-wrapper">
    <div id="promo-cta">I'm starting a coding bootcamp</div>
    <div id="promo-content">
      <div id="promo-video">
        <img src="/assets/dev-simulator.png" style="width: 15rem; border-radius: 1rem;"/>
      </div>
      <div id="promo-info">
        <div id="promo-title"><a style="color: black; font-weight: bold;" href="https://simulator.dev">Dev Simulator - A Coding RPG & Bootcamp</a></div>
        <div id="promo-desc">Want to learn web development in a fun and gamefied environment? Head over to <a href="https://simulator.dev">simulator.dev</a> and see what I'm working on!</div>
        <div style="background: #6C63FF; color: white; border-radius: 1rem; padding: 0.5rem; margin-top: 1rem; display: inline-block; box-shadow: 0.25rem 0.25rem 0 black; cursor: pointer;"><a href="https://simulator.dev" style="color: white">Check it out</a></div>
      </div>
    </div>
  </div>
</div> -->
