<style>
  #promo-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  #promo-cta {
    font-size: 1.25rem;
  }
  #promo-content {
    display: flex;
    flex-wrap: wrap;
  }
  #promo-video {
    margin-right: 15px;
  }
  #promo-title {
    font-size: 1.5rem;

    /* font-weight: bold; */
  }
</style>

<div id="promo-wrapper">
  <div id="promo-content-wrapper">
    <div id="promo-cta">Check out my latest course!</div>
    <div id="promo-content">
      <div id="promo-video">
        <iframe width="256" height="144" src="https://www.youtube.com/embed/ABQLwlE8MUA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div id="promo-info">
        <div id="promo-title">Learn React.js in 3.5 hours!</div>
        <div id="promo-desc">In this video I'll walk you through all the core concepts in React while we build some seriously awesome components!</div>
      </div>
    </div>
  </div>
</div>
